* {
	font-family: Lato;
}

#charts {
	display: flex;
	justify-content: center;
	flex-flow: row;
	padding: 5px 
}

#charts > div {
	border: 2px solid black;
	border-radius: 20px;
	margin: 5px;
	padding: 10px;
	font-family: Lato;
}

body {
	padding-left: 20px;
	padding-right: 20px;
}

#map {
	height: 800px; 
	margin: 0; 
	padding: 0;
}