
#charts {
	display: flex;
	justify-content: center;
	flex-flow: row;
	padding: 5px;
}

#chart1 {
	width: 95%;
}

title {
	font-family: Lato;
	color: white;
}

#charts > div {
	border: 2px solid black;
	border-radius: 20px;
	text-align: center;
	margin: 5px;
	padding: 10px;
	font-family: Lato;
}

h3 {
	text-align: center;
}

body {
	padding-left: 20px;
	padding-right: 20px;
}

#map {
	height: 500px; 
	width: 600px;
	margin: 0; 
	padding: 0;
}